<p>dropdown-container works!</p>
<td class="overflow-hidden">
    <div ngbDropdown>
        <button type="button" class="btn btn-outline-primary btn-sm" ngbDropdownToggle>Actions</button>
        <div ngbDropdownMenu>
            <button ngbDropdownItem>Edit</button>
            <button ngbDropdownItem>Duplicate</button>
            <button ngbDropdownItem>Move</button>
            <div class="dropdown-divider"></div>
            <button ngbDropdownItem>Delete</button>
        </div>
    </div>
    <small class="text-muted">Default dropdown</small>
</td>