<div class="container">
    <div class="row aling-items-center">
        <div class="col" style="margin-top: 50px;width:max-content; border:1px solid">
            <h3>Customer details</h3>
            <div>
                <label><b>ID: </b> {{customer.id}}</label>
            </div>
            <div>
                <label><b>Name: </b> {{customer.name}}</label>
            </div>
            <div>
                <label><b>Last name: </b> {{customer.lastName}}</label>
            </div>
            <div>
                <label><b>Date of birth: </b> {{customer.dateOfBirth}}</label>
            </div>
            <div>
                <label><b>Document type: </b> {{customer.documentType}}</label>
            </div>
            <div>
                <label><b>Document number: </b> {{customer.documentNumber}}</label>
            </div>
            <div>
                <label><b>Email: </b> {{customer.email}}</label>
            </div>
            <div>
                <label><b>Creation date: </b> {{customer.creationDate}}</label>
            </div>
            <div>
                <label><b>Creation user: </b> {{customer.creationUser}}</label>
            </div>
            <div>
                <label><b>Modification date: </b> {{customer.modificationDate}}</label>
            </div>
            <div>
                <label><b>Modification user: </b> {{customer.modificationUser}}</label>
            </div>
            <div style="margin-bottom:1%">
                <a class="btn btn-primary btn-sm" (click)= "sendCustomerList()" role="button" style="margin-right: 100px" style="width: 100px">Return list</a>
                <button type="button" (click)= "updateCustomer(customer.id)" class="btn btn-info btn-sm" style="margin-left: 20px; width: 100" >Edit</button>
                <button type="button" (click)= "deleteCustomer(customer.id)" class="btn btn-danger btn-sm" style="margin-left: 20px;width: 100">Delete</button>
            </div>
        </div>

        <div class="col">
            <div  style="margin-top: 50px">
                <h2 class="text-center" style="background-color:rgba(158, 185, 178, 0.685)">Product List</h2>
                <table class="table table-striped">
                    <thead class="table-success" style="background-color: green">
                        <tr>
                            <th >Account type</th>
                            <th>Account number</th>
                            <th>Status</th>
                            <th>Balance</th>
                            <th>Available Balance</th>
                            <th>GMF</th>
                            <th>Creation date</th>
                            <th>Creation user</th>
                            <th>Modification date</th>
                            <th>Modification user</th>
                            <th>Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of products">
                            <td>{{product.accountType}}</td>
                            <td>{{product.accountNumber}}</td>
                            <td>{{product.status}}</td>
                            <td>{{product.balance}}</td>
                            <td>{{product.availableBalance}}</td>
                            <td>{{product.gmf}}</td>
                            <td>{{product.creationDate}}</td>
                            <td>{{product.creationUser}}</td>
                            <td>{{product.modificationDate}}</td>
                            <td>{{product.modificationUser}}</td>
                            <td>
                              <button class="ngbDropdownItem" (click)= "productDetail(product.id)" class="btn btn-primary btn-sm btn-block">Details</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div>
        <div *ngIf="button==false">
            <button type="button" (click)= "buttonReg()" class="btn btn-success btn-sm" style="margin-top: 10px;">Create product</button>
        </div>
        <div *ngIf="button==true">
            <h3>Create-product</h3>
            <div class="containner">
                <form (ngSubmit)= "onSubmit()" #customerForm="ngForm">
                    <div class="form_group">
                        <label>Product Type: </label>
                        <select id="accountType"
                        [(ngModel)]= "product.accountType"
                        name="accountType"
                        required
                        #documentType = "ngModel"
                        style="margin-left: 10px; margin-top: 20px">
                            <option value="savings account" selected>savings account</option>
                            <option value="current account">current account</option>
                        </select>
                    </div>
                    <button class="btn btn-success" [disabled]= "!customerForm.form.valid">Save</button>
                    <button type="button" (click)= "buttonReg()" class="btn btn-danger" style="margin-left:10px">Cancel</button>
                </form>
            </div>
        </div>
    </div>

</div>