<div class="container" style="margin-left:0%; margin-top: 50px;width:max-content; border:1px solid">
    <h3>Customer details</h3>
    <div>
        <label><b>ID: </b> {{customer.id}}</label>
    </div>
    <div>
        <label><b>Name: </b> {{customer.name}}</label>
    </div>
    <div>
        <label><b>Last name: </b> {{customer.lastName}}</label>
    </div>
    <div>
        <label><b>Date of birth: </b> {{customer.dateOfBirth}}</label>
    </div>
    <div>
        <label><b>Document type: </b> {{customer.documentType}}</label>
    </div>
    <div>
        <label><b>Document number: </b> {{customer.documentNumber}}</label>
    </div>
    <div>
        <label><b>Email: </b> {{customer.email}}</label>
    </div>
    <div>
        <label><b>Creation date: </b> {{customer.creationDate}}</label>
    </div>
    <div>
        <label><b>Creation user: </b> {{customer.creationUser}}</label>
    </div>
    <div>
        <label><b>Modification date: </b> {{customer.modificationDate}}</label>
    </div>
    <div>
        <label><b>Modification user: </b> {{customer.modificationUser}}</label>
    </div>
    <div style="margin-bottom:1%">
        <a class="btn btn-primary btn-sm" (click)= "sendCustomerList()" role="button" style="margin-right: 100px" style="width: 100px">Return list</a>
        <button type="button" (click)= "updateCustomer(customer.id)" class="btn btn-info btn-sm" style="margin-left: 20px; width: 100" >Edit</button>
        <button type="button" (click)= "deleteCustomer(customer.id)" class="btn btn-danger btn-sm" style="margin-left: 20px;width: 100">Delete</button>
    </div>

</div>
