<h2>Customer List</h2>
<div class="container">
    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th>Name</th>
                <th>Isbn</th>
                <th>Author</th>
                <th>Languaje</th>
            </tr>
        </thead>
        <!-- <tbody>
            <tr *ngFor="let book of books">
                <td>{{book.bookName}}</td>
                <td>{{book.isbn}}</td>
                <td>{{book.author}}</td>
                <td>{{book.languaje}}</td>
            </tr>
        </tbody> -->
    </table>
</div>