<div class="continer">
    <div class="col-sm-2 offset-md-5" style="margin-top: 30px;background-color:rgba(158, 185, 178, 0.685)">
        <h3 class="text-center">Register clients</h3>
        <form (ngSubmit)= "onSubmit()" #customerForm="ngForm">
            <div class="form-group">
                <label>Name: </label>
                <input type="text"
                class="form-control"
                id="name"
                [(ngModel)]= "customer.name"
                name = "name"
                required
                minlength="4"
                maxlength="10"
                placeholder="type name "
                #name = "ngModel">
                <div class="alert alert-danger" *ngIf= "name.invalid && (name.dirty || name.touched)">
                    <div *ngIf = "name.errors['required']">
                      please type name
                    </div>
                    <div *ngIf = "name.errors['minlength']">
                        The name must contain at least 4 characters
                    </div>
                    <div *ngIf = "name.errors['maxlength']">
                        The name must have a maximum of 10 characters
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Last name: </label>
                <input type="text"
                class="form-control"
                id="lastName"
                [(ngModel)]= "customer.lastName"
                name = "lastName"
                required
                minlength="4"
                maxlength="20"
                placeholder="type last name "
                #lastName = "ngModel"
                >
                <div class="alert alert-danger" *ngIf= "lastName.invalid && (lastName.dirty || lastName.touched)">
                    <div *ngIf = "lastName.errors['required']">
                      type last name please
                    </div>
                    <div *ngIf = "lastName.errors['minlength']">
                        The last name must contain at least 4 characters
                    </div>
                    <div *ngIf = "lastName.errors['maxlength']">
                        The last name must have a maximum of 10 characters
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Date of birth: </label>
                <input type="date"
                class="form-control"
                id="dateOfBirth"
                [(ngModel)]= "customer.dateOfBirth"
                name = "dateOfBirth"
                required
                minlength="4"
                maxlength="10"
                placeholder="type date Of Birth "
                #dateOfBirth = "ngModel"
                >
                <div class="alert alert-danger" *ngIf= "dateOfBirth.invalid && (dateOfBirth.dirty || dateOfBirth.touched)">
                    <div *ngIf = "dateOfBirth.errors['required']">
                      please type date Of Birth
                    </div>
                    <div *ngIf = "dateOfBirth.errors['minlength']">
                        The name must contain at least 4 characters
                    </div>
                    <div *ngIf = "dateOfBirth.errors['maxlength']">
                        The name must have a maximum of 10 characters
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Document type: </label>
                <select id="documentType"
                [(ngModel)]= "customer.documentType" 
                name="documentType" 
                style="margin-left: 10px">
                    <option value="CC" selected>CC</option>
                    <option value="CE">CE</option>
                    <option value="Pte">Pte</option>
                </select>
            </div>
            <div class="form-group">
                <label>Document number: </label>
                <input type="text"
                class="form-control"
                id="documentNumber"
                [(ngModel)]= "customer.documentNumber"
                name="documentNumber"
                placeholder="type number "
                #documentNumber = "ngModel"
                >
                <div class="alert alert-danger" *ngIf= "documentNumber.invalid && (documentNumber.dirty || documentNumber.touched)">
                    <div *ngIf = "documentNumber.errors['required']">
                      type document number please
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Email: </label>
                <input type="email"
                class="form-control"
                id="email"
                [(ngModel)]= "customer.email"
                name="email"
                pattern ="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}"
                required
                placeholder="type email "
                #email = "ngModel"
                >
                <div class="alert alert-danger" *ngIf= "email.invalid && (email.dirty || email.touched)">
                    <div *ngIf = "email.errors['required']">
                      type email please
                    </div>
                    <div *ngIf = "email.errors['pattern']">
                        Please type the email with the following format : user100@mail.com
                    </div>
                </div>
            </div>
    
            <button class="btn btn-success" [disabled]= "!customerForm.form.valid" style="margin-bottom: 10px">Save</button>
        </form>
    </div>
</div>
